.error-page {
  text-align: center;

  &__image {
    object-fit: cover;

    @media screen and (max-width: 576px) {
      width: auto;
      height: auto;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-size: 3rem;
  }

  &__link {
    display: inline-block;
    padding: 16px 64px;
    border-radius: 8px;
    color: #1E78FF;
  }
}
