.input {
  width: 100%;
  padding: 16px 24px;

  font-size: 1rem;
  color: var(--color-text);

  background-color: var(--color-background);
  border: none;
  border-radius: 8px;

  &:focus-visible {
    outline: 1px solid var(--color-accent);
    outline-offset: 2px;
  }

  &.outlined {
    padding-left: 0;

    border: none;
    border-bottom: 2px solid var(--color-input-border-bottom);
    border-radius: 0;

    &:focus-visible {
      border-color: var(--color-accent);
      outline: none;
    }
  }

  &.type_file {
    position: absolute;
    left: -100%;

    width: 0;
    height: 0;

    visibility: hidden;

    opacity: 0;
    appearance: none;
  }

  &.type_message {
    display: block;

    width: 100%;
    height: 100%;
    padding: 0;

    font-size: 1rem;
    color: var(--color-text);

    background-color: var(--color-background-secondary);
    border: none;

    &:focus-visible {
      outline: none;
    }
  }
}
