.fields {
  display: flex;

  flex-direction: column;

  gap: 24px;

  align-items: flex-start;

  margin-top: 24px;
}

.form {
  display: flex;

  flex-direction: column;

  gap: 24px;

  align-items: flex-start;

  margin-top: 24px;
}

.controls {
  margin-top: 40px;
}
