.section {
  min-height: 100dvh;

  color: var(--color-text);
}

.container {
  display: flex;

  min-height: 100vh;
}

.current {
  display: flex;

  flex: 1;
  flex-direction: column;

  padding-bottom: 20px;

  background-color: var(--color-background);
}

.top {
  padding: 16px 32px;

  background-color: var(--color-background-secondary);
}

.topInfo {
  display: flex;

  gap: 8px;

  align-items: center;
}

.talkerName {
  font-size: 1rem;
}

.status {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--color-label);
}

.settingsBtn {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin-left: auto;

  cursor: pointer;

  background-color: transparent;
  background-image: url('/src/assets/images/settings-dots.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
}

.conversation {
  padding: 24px 32px 42px;
}

.messages {
  display: flex;

  flex-direction: column;
}

/* Стили панели чатов */

.chats {
  display: flex;

  flex-direction: column;

  gap: 4px;

  padding-top: 10px;
}


/* Стили поиска чатов */

.sidebar {
  max-width: 338px;
  max-height: 100vh;
  overflow-y: auto;

  background-color: var(--color-background-3);
  border-right: 1px solid var(--color-background-4);
  border-left: 1px solid var(--color-background-4);

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-label);
    border-radius: 60px;
  }
}

.searchContainer {
  padding: 28px 28px 12px;

  border-bottom: 1px solid var(--color-background-4);
}

.panel {
  padding: 24px 16px;

  background-color: var(--color-background-3);
}

.avatar {
  flex-shrink: 0;

  aspect-ratio: 1/1;

  border-radius: 50%;
  object-fit: cover;
}
