:root {
  --primary: #1E78FF;
  --color-text: #fff;
  --color-background: #18191B;
  --color-background-secondary: #000;

  font-family: 'Rubik', "Segoe UI", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#app {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
}

@import "utils/normalize";
@import "utils/input";
