@import "utils/normalize";
@import "error-page";

:root {
  --color-accent: #1E78FF;
  --color-text: #fff;
  --color-label: #888;
  --color-background: #18191B;
  --color-background-secondary: #1E1F22;
  --color-background-3: #161718;
  --color-background-4: #1e1e22;
  --color-black: #000;
  --color-error: #E44242;
  --color-success: #4FAF0A;
  --color-input-border-bottom: var(--color-background-secondary);
  --color-scrollbar-hover: #fff;

  font-family: Rubik, "Segoe UI", sans-serif;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;

  background-color: var(--color-background);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

#app {
  min-height: 100vh;

  color: var(--color-text);

  background-color: var(--color-background);
}

.wrapper {
  max-width: 1440px;
  padding: 0 16px;
  margin: 0 auto;
}
