.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__title {
    margin: 0 0 24px;
  }

  &__links {
    display: flex;
    gap: 8px;
  }

  &__link {
    padding: 8px 16px;
  }
}
