.password {
  padding: 16px;

  &__form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--color-text-secondary);
  }

  &__input {
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color-border);

    &:focus-visible {
      outline: none;
      border-color: var(--primary);
    }
  }

  &__save-btn {
    padding: 16px 40px;
  }
}
