.user-info {
  padding: 16px;

  &__label {
    display: inline-block;

    transition: opacity 0.2s ease;

    &:hover {
      cursor: pointer;

      opacity: 0.7;
    }
  }

  &__input {
    position: absolute;
    left: -100%;

    overflow: hidden;

    visibility: hidden;

    opacity: 0;
    appearance: none;
  }
}
