.data {
  padding: 16px;

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 24px;
    margin-top: 24px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--color-text-secondary);
  }

  &__input {
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid var(--color-border);
  }

  &__save-btn {
    justify-self: start;
    padding: 16px 40px;
  }
}
