.fields {
  display: grid;

  grid-template-columns: repeat(3, 300px);

  gap: 24px;

  margin-top: 24px;
}

.input {
  padding-left: 0;

  border: none;
  border-bottom: 2px solid var(--color-input-border-bottom);
  border-radius: 0;

  &:focus-visible {
    border-color: var(--color-accent);
    outline: none;
  }
}

.controls {
  display: flex;

  flex-direction: column;

  gap: 24px;

  align-items: flex-start;

  margin-top: 40px;

  text-align: center;
}
